{% extends "../generic_base.html" %}

{% block title %}{{ object.id }}Sign Up{% endblock %}

{% block right_content %}
<div class="auth-form">
    <h2 class="form-title">Registration</h2>
    <form method="post" action="{% url 'signup' %}" class="sign-up-form">
        {% csrf_token %}
        <div class="sign-up-div">
            <table class="sign-up-table">
                <tbody>
                    <tr>
                        <td>Username:</td>
                    </tr>
                    <tr>
                        <td class="label-row">{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                    </tr>
                    <tr>
                        <td class="label-row">{{ form.email }}</td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                    </tr>
                    <tr>
                        <td class="label-row">{{ form.password1 }}</td>
                    </tr>
                    <tr>
                        <td>Confirm Password:</td>
                    </tr>
                    <tr>
                        <td class="label-row">{{ form.password2 }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="avatar-upload">
                <div class="avatar-edit">
                    {{ form.avatar }}
                    <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="submit-button">Sign Up</button>
    </form>
    <p class="gray-small-text">Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock %}