{% extends "../generic_base.html" %}

{% load static %}

{% block title %}{{ task.summary }}{% endblock %}

{% block left_content %}
    <left_h1>{{ task.summary }}</left_h1>
    <p class="scrollable-paragraph">{{ task.task }}</p>
{% endblock %}
{% block right_content %}

    <right_h1>Browse best solutions</right_h1>
    {% for solution in solutions %}
    <div class="solution_box">
        <a href="{% url 'account:user_detail' pk=solution.user.pk %}">
            <p class="gray-small-text">{{ solution.user }}</p>
        </a>
        <hr class="styled-line">
        <div class="solution-text-box">
            {{ solution.python_syntax_highlighted_code|safe }}
        </div>
            
            <hr class="styled-line">
            <div class="horizontal-container">
                <div class="horizontal-container">
                    <button 
                        class="like-button" 
                        id="like_button_{{ solution.id }}" 
                        data-solution-id="{{ solution.id }}" 
                        {% if solution.id in liked_solution %}disabled{% endif %}
                    >
                        <p class="gray-small-text">Like</p>
                    </button>
                    <p class="gray-small-text" id="reaction_{{ solution.id }}">{{ solution.get_reaction }}</p>
                     <a href="http://localhost:8000/solution-list/{{ solution.id }}/" style="text-decoration: none; color: inherit;">
                        <p class="gray-small-text">Solution detail</p>
                    </a>
                    <!-- 
                        <button id="add_comment" class="just-text-button" data-solution-id="{{ solution.id }}">
                            <p class="gray-small-text">Add comment</p>
                        </button> 
                    -->
                </div>
                <div class="element-right"><p class="gray-small-text">{{ solution.created_at }}</p></div>
            </div>
        </div>

    {% endfor %}
    <script src="{% static 'script/solution_reaction.js' %}"></script>
{% endblock %}
