{% extends "../generic_base.html" %}

{% load static %}

{% block title %}{{ task.summary }}{% endblock %}

{% block left_content %}
    <left_h1>{{ task.summary }}</left_h1>
    <p class="scrollable-paragraph-90">{{ task.task }}</p>
{% endblock %}
{% block right_content %}

    <div class="solution_box">
        <p class="gray-small-text">{{ object.user }}</p>
        <hr class="styled-line">
        <div class="solution-text-box">
            <p>{{ object.solution }}</p>
        </div>
        <hr class="styled-line">
        <div class="horizontal-container">
            <div class="horizontal-container">
                <button 
                    class="like-button" 
                    id="like_button_{{ object.id }}" 
                    data-solution-id="{{ object.id }}" 
                    {% if object.id in liked_solution %}disabled{% endif %}
                >
                    <p class="gray-small-text">Like</p>
                </button>
                <p class="gray-small-text" id="reaction_{{ object.id }}">{{ object.get_reaction }}</p>
            </div>
            <div class="element-right"><p class="gray-small-text">{{ object.created_at }}</p></div>
        </div>
    </div>
    <div class="post_comment_box">
        <textarea rows="5" id="comment-text" placeholder="Add comment..."></textarea>
        <button onclick="postComment('{{ object.id }}')" id="post-comment-button">POST</button>
    </div>
    <div id="comment_box" class="comment_box">
        {% for comment in object.comment_set.all %}
            <div>
                <p class="gray-small-text">{{ comment.user }} - {{ comment.created_at }}</p>
                <p class="comment-text">{{ comment.comment }}</p>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'script/solution_reaction.js' %}"></script>
    <script src="{% static 'script/post_comment.js' %}"></script>

{% endblock %}
